@media screen and (min-width: 620px) {
  .flexy {
    display: flex;
  }
}
@media screen and (max-width: 620px) {
  .flexyM {
    display: flex;
  }
}

@font-face {
  font-family: Proxima-Nova-Font;
  src: url(./assets/fonts/Proxima-Nova-Font/Fontspring-proximanovacond-black.otf);
}
.app-btn {
  background: #2a5bd7;
  color: #fff;
  border: none;
  padding: 6px 10px;
}
