.home-container {
  background-image: url("../../assets/images/bitly-landing.png");
  height: 800px;
  padding: 140px 0;
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  h1 {
    font-size: 60px !important;
    font-family: Proxima-Nova-Font;
  }
}
.shortner-div {
  height: fit-content;
  margin-bottom: 40px;
  padding: 60px 0;
  background: #0b1736;
  input {
    width: 100%;
    height: 70px;
    padding: 10px 0px 10px 30px;
    border-radius: 10px;
    border: solid 1px #e7e7e7;
  }
}
.conveter-btn-div {
  margin-top: -50px !important;
}
