.home-container {
  background-image: url("../../assets/images/bitly-landing.png");
  height: 800px;
  padding: 140px 0;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position-x: center;
}
