.home-container {
  background-image: url("../../assets/images/bitly-landing.png");
  height: 800px;
  padding: 40px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
