.home-container {
  background-image: url("../../assets/images/bitly-landing.png");
  height: 800px;
  padding: 140px 0;
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: 50% 15%;
  h1 {
    font-size: 60px !important;
  }
}
