.accordion-button {
  width: 230px !important;
  font-size: 20px !important;
  margin-left: 850px;
  color: #fff !important;
  border: none;
  padding: 20px 0px 20px 45px !important;
  border-radius: 10px;
  background: #1b3987 !important;
  //   box-shadow: 0 0 4px 4px #1b3987 !important;
}
.accordion-body {
  background: #fff !important;
  margin-top: 70px !important;
}
.accordion-item {
  background: #0b1736 !important;
  border: none !important;
}
.accordion-button::after {
  background-image: none !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: none !important;
}
