.accordion-button:not(.collapsed) {
  width: 200px !important;
}
.accordion-header {
  width: 200px !important;
}
.accordion-button {
  box-shadow: 0 0 3px 3px rgb(249, 246, 246) !important;
  margin-top: 140px;
  font-family: brother-regular;
  width: 230px;
  border: solid 1px rgb(214, 210, 210) !important;
  margin-left: 43%;
  padding: 5px 5px 0 10px !important;
  border-radius: 35px !important;
  text-align: center !important;
}
