.converter {
  .accordion-button {
    width: 250px !important;
    font-size: 20px !important;
    margin-left: 850px;
    color: #fff !important;
    border: none !important;
    padding: 10px 0px 10px 45px !important;
    border-radius: 10px !important;
    background: #1b3987 !important;
    @media screen and (max-width: 620px) {
      margin-left: 0px;
      margin-top: 80px;
      width: 100% !important;
    }
  }
  .accordion-body {
    background: #fff !important;
    margin-top: 20px !important;
    padding: 0 !important;
  }
  .accordion-item {
    background: #0b1736 !important;
    border: none !important;
  }
  .accordion-button::after {
    background-image: none !important;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: none !important;
  }
  h5 {
    margin-left: 40px;
  }
  .terms {
    background: #0b1736 !important;
    width: 100%;
    border: none;
    color: #fff;
    text-align: Center;
    padding-bottom: 20px !important;
    font-size: 14px;
    font-family: Proxima-Nova-R;
  }
  .shortened-link {
    flex-grow: 1;
  }
  .copy {
    color: #2a5bd7 !important;
    background: #e3eafd !important;
    border-radius: 10px !important;
    padding: 10px 40px;
    border: none !important;
    margin-left: 30px;
  }
  .converter-output {
    padding: 30px;
  }
  .link {
    color: #0236b9;
    text-decoration: none;
    margin-top: 10px;
    // font-family: Proxima-Nova-R;
  }
  span {
    font-family: Proxima-Nova-R;
  }
  .qr-codes {
    padding: 10px;
    background: #edf2fe;
    h5 {
      flex-grow: 1;
      font-family: Proxima-Nova-Font;
    }
    button {
      background: #2a5bd7;
      color: #fff;
      border: none;
      padding: 10px 40px;
      border-radius: 10px;
    }
  }
}
