// .accordion-button:not(.collapsed) {
//   width: 200px !important;
// }

.accordion-button {
  width: 230px;

  margin-left: 1000px;
  color: #fff;
  border: none;
  padding: 20px 40px;
  border-radius: 10px;
  background: #1b3987;
}
.accordion-body {
  background: #fff !important;
  margin-top: 70px !important;
}
.accordion-item {
  background: #0b1736 !important;
  border: none !important;
}
.accordion-button::after {
  background-image: none !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: none !important;
}
