.testimonial-div {
  border: solid 1px black;
  border-radius: 20px;
  padding: 40px 40px;
  height: fit-content;
  margin-left: 20px;
  margin-right: 20px;
  .quote {
    float: right !important;
    img {
      height: 80px;
      //   margin-top: -60px;
      position: relative;
      z-index: 17000 !important;
    }
  }
}
